<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Resume</title>
</head>

<body>
    
    <div class=" mx-12 my-4">
        <!-- main heading for name and other info -->
        <div class="border-b-2 border-double border-black">
            <ul class="list-none text-center border-b-2 border-double border-black mb-1">
                <li class="text-5xl font-black">
                    {{user.f_key}}
                </li>
                <li class="text-2xl font-bold">
                    {{intro.Summary}}
                </li>
                <li class="text-xl mb-3">
                    Email: 06akshay2002@gmail.com || Mobile: 9305224328
                </li>
            </ul>
        </div>
        <!-- body div  -->
        <div class="flex flex-row mt-6">
            <!-- col 1 -->
            <div class="basis-1/2 flex flex-col mr-5">
                <!-- education -->
                <div>
                    <h1 class="text-2xl font-bold mb-2">EDUCATION</h1>
                    <!-- college -->
                    {% for e in education %}
                    <p class="font-bold">{{e.Degree}}</p>
                    <p>{{e.College}}</p>
                    <p>CGPA: 8.85/10</p>
                    {% endfor %}
                </div>
                <!-- skills -->
                <div class="">
                    <h1 class="text-2xl font-bold mt-4 mb-2">TECHNICAL SKILLS</h1>
                    <span class="font-bold">Languages:</span>
                    <div class="mb-1">{% for skill in languages %}
                        <span>{{skill}},</span>
                    {% endfor %}</div>
                    <p class="mb-1"><span class="font-bold">Frameworks/Libraries:</span> 
                        {% for lf in laf %}
                        <span>{{lf}}</span>
                        {% endfor %}
                    <p class=""><span class="font-bold">Others:</span> 
                        {% for o in others %}
                        {{o}}
                        {% endfor %}
                    </p>
                </div>
                <!-- position of responsibility -->
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Position of Responsibility</h1>
                    <p>SIG Python sub-head at IPEC ACM STUDENT CHAPTER.</p>
                </div>
                <!-- Experience -->
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Work Experience</h1>
                    {% for ex in exp %}
                    <p>{{ex.title}} Internship</p>
                    <p> at {{ex.company}}.</p>
                    <p> (from {{ex.start}} to {{ex.end}})</p>
                    {% endfor %}
                </div>
            </div>
            <!-- col 2 -->
            <div class="basis-1/2 flex flex-col ml-5">
                <!-- project -->
                <div>
                    <h1 class="text-2xl font-bold  mb-2">PROJECTS</h1>
                    {% for p in projects %}
                    <p class="font-bold mb-1">{{p.name}}</p>
                    <p>This project is made using 
                    {% for l in p.languages_used %}
                    <span>{{l}},</span>
                    {% endfor %}
                </p>
                {% endfor %} 
                </div>
                
                <div>
                    <h1 class="text-2xl font-bold mt-4 mb-2">Acquirements</h1>
                    <ul class="list-disc list-inside">
                        <li>2 stars at codechef</li>
                        <li>5 stars in Problem Solving at HackerRank</li>
                        <li>5 stars in C, C++, Python at HackerRank</li>
                        <li>3 stars in JavaScript at HackerRank</li>
                        <li>139 rank in Institute at GFG</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- <p class="right-2 absolute text-sm">Made Using CSS</p> -->
</body>

</html>